policy_module(helium, 1.100.1)

########################################
#
# Declarations
#

type helium_t;
type helium_exec_t;
init_daemon_domain(helium_t, helium_exec_t)

permissive helium_t;

type helium_initrc_exec_t;
init_script_file(helium_initrc_exec_t)

type helium_conf_t;
files_type(helium_conf_t)

type helium_var_lib_t;
files_type(helium_var_lib_t)

type helium_var_run_t;
files_type(helium_var_run_t)

type helium_port_t;
corenet_port(helium_port_t)

########################################
#
# helium local policy
#
allow helium_t self:process { fork };

allow helium_t self:fifo_file rw_fifo_file_perms;
allow helium_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(helium_t, helium_conf_t, helium_conf_t)
manage_files_pattern(helium_t, helium_conf_t, helium_conf_t)

manage_dirs_pattern(helium_t, helium_var_lib_t, helium_var_lib_t)
manage_files_pattern(helium_t, helium_var_lib_t, helium_var_lib_t)
files_var_lib_filetrans(helium_t, helium_var_lib_t, { dir file })

manage_dirs_pattern(helium_t, helium_var_run_t, helium_var_run_t)
manage_files_pattern(helium_t, helium_var_run_t, helium_var_run_t)

sysnet_dns_name_resolve(helium_t)
corenet_all_recvfrom_unlabeled(helium_t)

allow helium_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(helium_t)
corenet_tcp_sendrecv_generic_node(helium_t)
corenet_tcp_sendrecv_all_ports(helium_t)
corenet_tcp_bind_generic_node(helium_t)

gen_require(`
    type helium_port_t;
')
allow helium_t helium_port_t:tcp_socket name_bind;

gen_require(`
    type helium_port_t;
')
allow helium_t helium_port_t:tcp_socket name_connect;

domain_use_interactive_fds(helium_t)

files_read_etc_files(helium_t)

miscfiles_read_localization(helium_t)

sysnet_dns_name_resolve(helium_t)

allow helium_t helium_exec_t:file execute_no_trans;
allow helium_t self:process setsched;
corecmd_exec_ls(helium_t)
corenet_tcp_connect_http_port(helium_t)
dev_read_urand(helium_t)
fs_getattr_xattr_fs(helium_t)
kernel_read_system_state(helium_t)
