
## <summary>policy for helium</summary>


########################################
## <summary>
##	Transition to helium.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`helium_domtrans',`
	gen_require(`
		type helium_t, helium_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, helium_exec_t, helium_t)
')


########################################
## <summary>
##	Execute helium server in the helium domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helium_initrc_domtrans',`
	gen_require(`
		type helium_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, helium_initrc_exec_t)
')


########################################
## <summary>
##	Search helium lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helium_search_lib',`
	gen_require(`
		type helium_var_lib_t;
	')

	allow $1 helium_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read helium lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helium_read_lib_files',`
	gen_require(`
		type helium_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, helium_var_lib_t, helium_var_lib_t)
')

########################################
## <summary>
##	Manage helium lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helium_manage_lib_files',`
	gen_require(`
		type helium_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, helium_var_lib_t, helium_var_lib_t)
')

########################################
## <summary>
##	Manage helium lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helium_manage_lib_dirs',`
	gen_require(`
		type helium_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, helium_var_lib_t, helium_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a helium environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`helium_admin',`
	gen_require(`
		type helium_t;
		type helium_initrc_exec_t;
		type helium_var_lib_t;
	')

	allow $1 helium_t:process { ptrace signal_perms };
	ps_process_pattern($1, helium_t)

	helium_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 helium_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, helium_var_lib_t)

')

